.wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 200px) ;
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    justify-content: center;
}
.block1 {
    background-color: white;
    grid-column: 2/2;
    grid-row: 1/1;
}
.block2 {
    background-color:white;
    grid-column: 3/3;
    grid-row: 1/1;
}
.block3 {
    background-color: white;
    grid-column: 4/4;
    grid-row: 1/1;
}
.block4 {
    background-color: white;
    grid-column: 2/2;
    grid-row: 2/2;
}
.block5 {
    background-color: white;
    grid-column: 3/3;
    grid-row: 2/2;
}
.block6 {
    background-color: white;
    grid-column: 4/4;
    grid-row: 2/2;
}
.block7 {
    background-color: white;
    grid-column: 2/2;
    grid-row: 3/3;
}
.block8 {
    background-color: white;
    grid-column: 3/3;
    grid-row: 3/3;
}
.block9 {
    background-color: #ffffff;
    grid-column: 4/4;
    grid-row: 3/3;
}
body{
    background-color: black;
}
.sidebar{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/4;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.blockx, .blocko{
    cursor: not-allowed;
}
.blockx::before,
.blockx::after{
content: "";
width: 30px;
position: absolute;
height: 180px;
background-color: black;
}
.blockx::before{
    transform: rotate(45deg);
}
.blockx::after{
    transform: rotate(-45deg);
}
.blocko::before,
.blocko::after{
content: "";
border-radius: 50%;
position: absolute;
}
.blocko::before{
    width: 180px;
    height: 180px;
    background-color: black;
}
.blocko::after{
    width: 140px;
    height: 140px;
    background-color: white;
}